# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.mod
!go.sum

!LICENSE
!README.md
!SUPPORT.md
!SECURITY.md
!GOVERNANCE.md
!CONTRIBUTING.md

!Makefile
!*.example

# Scripts
!verify.sh
!install.sh
!wf-dev-mode.sh
!wf-prepare-build.sh
!wf-verify-slsa-setup.sh
!bin-postinstall.sh
!bin-verify-release.sh

!vendor/*
!docs/**/*.md
!.github/**/*.yml
!.slsa-goreleaser/**/*.yml
!.golangci.yml

# SLSA
!.slsa-goreleaser.yml

# Allow directories (to enable more granular allow rules)
!*/

# Allow .scratch directory itself
#!.scratch/

# Ignore all files inside .scratch/
dist/*
build/*
.scratch/*